In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data_pizza.xlsx')

In [3]:
df.columns

Index(['order_id', 'date', 'time', 'pizza_id', 'quantity', 'size', 'price',
       'name', 'category', 'ingredients'],
      dtype='object')

In [4]:
df_copy = df.copy()

In [5]:
df['Total'] = df['quantity'] * df['price']

In [6]:
df[df['name'] == 'The Thai Chicken Pizza']['Total'].sum()

43434.25

In [24]:
df.head(5)

,order_id,date,time,pizza_id,quantity,size,price,name,category,ingredients
0,1,"Thursday, January 1, 2015",11:38:36,hawaiian_m,1,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,"Thursday, January 1, 2015",11:57:40,thai_ckn_l,1,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
2,2,"Thursday, January 1, 2015",11:57:40,ital_supr_l,1,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
3,2,"Thursday, January 1, 2015",11:57:40,five_cheese_l,1,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
4,2,"Thursday, January 1, 2015",11:57:40,mexicana_m,1,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."

In [7]:
df.sample(5).head(5)

,order_id,date,time,pizza_id,quantity,size,price,name,category,ingredients
47284,20781,"Saturday, December 19, 2015",13:03:43,prsc_argla_m,1,M,16.50,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
33284,14713,"Thursday, September 3, 2015",16:59:47,cali_ckn_s,1,S,12.75,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
6148,2723,"Sunday, February 15, 2015",11:35:24,pepperoni_l,1,L,15.25,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
1572,702,"Monday, January 12, 2015",14:38:35,sicilian_s,1,S,12.25,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
13197,5783,"Tuesday, April 7, 2015",18:42:32,spinach_fet_m,1,M,16.00,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."

In [5]:
df['pizza_id'].unique()

array(['hawaiian_m', 'thai_ckn_l', 'ital_supr_l', 'five_cheese_l',
       'mexicana_m', 'classic_dlx_m', 'prsc_argla_l', 'ital_supr_m',
       'the_greek_s', 'bbq_ckn_s', 'spinach_supr_s', 'spin_pesto_l',
       'spicy_ital_l', 'ital_cpcllo_l', 'classic_dlx_s', 'green_garden_s',
       'veggie_veg_s', 'mexicana_s', 'ital_supr_s', 'southw_ckn_l',
       'mexicana_l', 'bbq_ckn_l', 'cali_ckn_l', 'pepperoni_l',
       'cali_ckn_m', 'ckn_pesto_l', 'cali_ckn_s', 'soppressata_l',
       'big_meat_s', 'four_cheese_l', 'napolitana_s', 'spinach_fet_l',
       'four_cheese_m', 'calabrese_m', 'ital_veggie_s', 'peppr_salami_s',
       'mediterraneo_m', 'napolitana_l', 'sicilian_l', 'ital_cpcllo_m',
       'southw_ckn_s', 'pepperoni_m', 'bbq_ckn_m', 'prsc_argla_s',
       'sicilian_m', 'veggie_veg_l', 'ckn_alfredo_s', 'pepperoni_s',
       'green_garden_l', 'pep_msh_pep_l', 'green_garden_m', 'hawaiian_s',
       'peppr_salami_m', 'peppr_salami_l', 'ckn_alfredo_m',
       'spin_pesto_s', 'thai_ckn_m', 'classic_dlx_l', 'ckn_pesto_m',
       'the_greek_xl', 'hawaiian_l', 'spinach_supr_m', 'pep_msh_pep_s',
       'prsc_argla_m', 'mediterraneo_l', 'southw_ckn_m', 'pep_msh_pep_m',
       'spicy_ital_s', 'sicilian_s', 'thai_ckn_s', 'spinach_supr_l',
       'ital_veggie_l', 'veggie_veg_m', 'the_greek_m', 'ckn_pesto_s',
       'spinach_fet_s', 'spicy_ital_m', 'ital_veggie_m', 'ital_cpcllo_s',
       'mediterraneo_s', 'spinach_fet_m', 'napolitana_m', 'spin_pesto_m',
       'brie_carre_s', 'ckn_alfredo_l', 'calabrese_s', 'the_greek_l',
       'soppressata_m', 'soppressata_s', 'calabrese_l', 'the_greek_xxl'],
      dtype=object)

In [17]:
from datetime import datetime

df_copy = df.copy()
df_copy['date'] = pd.to_datetime(df_copy['date'], format="%A, %B %d, %Y")


df_copy[(df_copy['category']=='Classic') & (df_copy['date'].dt.month == 9)]

,order_id,date,time,pizza_id,quantity,size,price,name,category,ingredients
32961,14572,2015-09-01,11:18:24,ital_cpcllo_l,1,L,20.5,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
32967,14575,2015-09-01,11:52:30,pep_msh_pep_l,1,L,17.5,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
32968,14575,2015-09-01,11:52:30,the_greek_xl,1,XL,25.5,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
32970,14577,2015-09-01,12:03:07,big_meat_s,1,S,12.0,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
32971,14578,2015-09-01,12:05:50,classic_dlx_l,1,L,20.5,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
...,...,...,...,...,...,...,...,...,...,...
36766,16227,2015-09-30,20:37:31,classic_dlx_m,1,M,16.0,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
36770,16229,2015-09-30,21:04:02,napolitana_m,1,M,16.0,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
36772,16230,2015-09-30,21:09:53,big_meat_s,1,S,12.0,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
36773,16230,2015-09-30,21:09:53,pep_msh_pep_s,1,S,11.0,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
36778,16232,2015-09-30,22:01:18,hawaiian_s,1,S,10.5,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"

In [16]:
df_copy[df_copy['date'].dt.month == 9]

,order_id,date,time,pizza_id,quantity,size,price,name,category,ingredients
32960,14572,2015-09-01,11:18:24,thai_ckn_l,1,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
32961,14572,2015-09-01,11:18:24,ital_cpcllo_l,1,L,20.50,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
32962,14573,2015-09-01,11:27:17,sicilian_s,1,S,12.25,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
32963,14574,2015-09-01,11:49:21,thai_ckn_l,1,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
32964,14574,2015-09-01,11:49:21,bbq_ckn_l,1,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
...,...,...,...,...,...,...,...,...,...,...
36774,16231,2015-09-30,21:33:25,spin_pesto_l,1,L,20.75,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
36775,16231,2015-09-30,21:33:25,veggie_veg_m,1,M,16.00,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."
36776,16231,2015-09-30,21:33:25,sicilian_s,1,S,12.25,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
36777,16232,2015-09-30,22:01:18,calabrese_m,1,M,16.25,The Calabrese Pizza,Supreme,"‘Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
36778,16232,2015-09-30,22:01:18,hawaiian_s,1,S,10.50,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"

In [13]:

df_copy = df.copy()
df_copy['date'] = pd.to_datetime(df_copy['date'], format="%A, %B %d, %Y")

filtered_df = df_copy[(df_copy['category'] == 'classic') & (df_copy['date'].dt.month == 9)]

print(filtered_df)

Empty DataFrame
Columns: [order_id, date, time, pizza_id, quantity, size, price, name, category, ingredients]
Index: []

In [23]:
df_copy['date'].dt.year.unique()

array([2015])

In [26]:
df_copy['size'].unique()

array(['M', 'L', 'S', 'XL', 'XXL'], dtype=object)

In [27]:
df_copy[(df_copy['size'] == 'L') & (df_copy['category'] == 'Classic')]['quantity'].sum()

4057

In [30]:
ingredients_one_hot = df['ingredients'].str.get_dummies(', ')

ingredients_one_hot

,Alfredo Sauce,Anchovies,Artichoke,Artichokes,Arugula,Asiago Cheese,Bacon,Barbecue Sauce,Barbecued Chicken,Beef Chuck Roast,...,Sliced Ham,Smoked Gouda Cheese,Soppressata Salami,Spinach,Sun-dried Tomatoes,Thai Sweet Chilli Sauce,Thyme,Tomatoes,Zucchini,‘Nduja Salami
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48616,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48617,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48618,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48619,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0

In [32]:
df_copy.head()

,order_id,date,time,pizza_id,quantity,size,price,name,category,ingredients
0,1,2015-01-01,11:38:36,hawaiian_m,1,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2015-01-01,11:57:40,thai_ckn_l,1,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
2,2,2015-01-01,11:57:40,ital_supr_l,1,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
3,2,2015-01-01,11:57:40,five_cheese_l,1,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
4,2,2015-01-01,11:57:40,mexicana_m,1,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."

In [33]:
ingredients_one_hot = df_copy['ingredients'].str.get_dummies(', ')

ingredients_one_hot.columns = ['Ingre_' + col for col in ingredients_one_hot.columns]
df_copy = pd.concat([df_copy, ingredients_one_hot], axis=1)
df_copy

,order_id,date,time,pizza_id,quantity,size,price,name,category,ingredients,...,Ingre_Sliced Ham,Ingre_Smoked Gouda Cheese,Ingre_Soppressata Salami,Ingre_Spinach,Ingre_Sun-dried Tomatoes,Ingre_Thai Sweet Chilli Sauce,Ingre_Thyme,Ingre_Tomatoes,Ingre_Zucchini,Ingre_‘Nduja Salami
0,1,2015-01-01,11:38:36,hawaiian_m,1,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",...,1,0,0,0,0,0,0,0,0,0
1,2,2015-01-01,11:57:40,thai_ckn_l,1,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",...,0,0,0,0,0,1,0,1,0,0
2,2,2015-01-01,11:57:40,ital_supr_l,1,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",...,0,0,0,0,0,0,0,1,0,0
3,2,2015-01-01,11:57:40,five_cheese_l,1,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",...,0,1,0,0,0,0,0,0,0,0
4,2,2015-01-01,11:57:40,mexicana_m,1,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,21348,2015-12-31,21:23:10,four_cheese_l,1,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",...,0,0,0,0,0,0,0,0,0,0
48616,21348,2015-12-31,21:23:10,ckn_alfredo_m,1,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",...,0,0,0,0,0,0,0,0,0,0
48617,21348,2015-12-31,21:23:10,napolitana_s,1,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",...,0,0,0,0,0,0,0,1,0,0
48618,21349,2015-12-31,22:09:54,mexicana_l,1,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",...,0,0,0,0,0,0,0,1,0,0
48619,21350,2015-12-31,23:02:05,bbq_ckn_s,1,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",...,0,0,0,0,0,0,0,1,0,0

In [34]:
df_copy.to_excel('data_test.xlsx')

In [35]:
from typing import List


def candy(ratings: List[int]) -> int:
        n = len(ratings)
        candies = [1] * n 

        for i in range(1, n):
            if ratings[i] > ratings[i-1]:
                candies[i] = candies[i-1] + 1

        for i in range(n-2, -1, -1):
            if ratings[i] > ratings[i+1]:
                candies[i] = max(candies[i], candies[i+1] + 1)
        print(candies)
        return sum(candies)

candy([1,0,2])

[2, 1, 2]

5

In [7]:
df = pd.read_excel('data_pizza.xlsx')
ingredients_one_hot = df['ingredients'].str.get_dummies(', ')

ingredients_one_hot
ingredient_counts = ingredients_one_hot.sum().sort_values(ascending=False)

In [9]:
top_10_ingredients = ingredient_counts.head(10)
top_10_ingredients

Garlic               27422
Tomatoes             26601
Red Onions           19547
Red Peppers          16284
Mozzarella Cheese    10333
Pepperoni            10300
Spinach              10012
Mushrooms             9624
Chicken               8443
Capocollo             6572
dtype: int64

In [13]:
bot_10_ingredients = ingredient_counts.tail(10)
print(bot_10_ingredients)

bot_10_ingredients_df = pd.DataFrame(bot_10_ingredients).reset_index()
bot_10_ingredients_df.columns = ['Ingredient', 'Count']
bot_10_ingredients_df
bot_10_ingredients_df.to_excel('bot_ingre.xlsx')

Soppressata Salami     957
Pancetta               927
Friggitello Peppers    927
‘Nduja Salami          927
Plum Tomatoes          923
Prosciutto             480
Pears                  480
Thyme                  480
Caramelized Onions     480
Brie Carre Cheese      480
dtype: int64

In [8]:
top_10_ingredients = ingredient_counts.head(10)
bot_10_ingredients = ingredient_counts.tail(10)

top_10_ingredients_df = pd.DataFrame(top_10_ingredients).reset_index()
top_10_ingredients_df.columns = ['Ingredient', 'Count']
top_10_ingredients_df.to_excel('top_ingre.xlsx')

             Ingredient  Count
0     Brie Carre Cheese    NaN
1             Capocollo    NaN
2    Caramelized Onions    NaN
3               Chicken    NaN
4   Friggitello Peppers    NaN
5                Garlic    NaN
6     Mozzarella Cheese    NaN
7             Mushrooms    NaN
8              Pancetta    NaN
9                 Pears    NaN
10            Pepperoni    NaN
11        Plum Tomatoes    NaN
12           Prosciutto    NaN
13           Red Onions    NaN
14          Red Peppers    NaN
15   Soppressata Salami    NaN
16              Spinach    NaN
17                Thyme    NaN
18             Tomatoes    NaN
19        ‘Nduja Salami    NaN

In [47]:
top_10_ingredients_df.to_excel('top_ingre.xlsx')